<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!showResult">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Pergunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ questions[currentQuestionIndex].text }}</p>
      <ion-button expand="block" *ngFor="let option of questions[currentQuestionIndex].options"
                  (click)="answer(option)">
        {{ option }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="showResult">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resultado Final</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ playerName }}, sua pontuação foi {{ score }} de {{ questions.length }}</p>
      <ion-button expand="full" (click)="backToHome()">Voltar ao Início</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
